name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  configuration: Release
  productNamespacePrefix: "ReactiveMarbles"

jobs:
  build:
    runs-on: windows-latest
    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    steps:

    - name: Checkout
      uses: actions/checkout@v5.0.1
      with:
        fetch-depth: 0
        lfs: true
        
    - name: Install .NET 8 and 9
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
            8.0.x
            9.0.x

    - name: NBGV
      id: nbgv
      uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: NuGet Restore
      run: dotnet restore
      working-directory: src
      
    - name: Build
      run: dotnet build --configuration=${{ env.configuration }} --verbosity=minimal --no-restore
      working-directory: src

    - name: Run Unit Tests and Generate Coverage
      uses: glennawatson/coverlet-msbuild@v2.1
      with:
        project-files: '**/*Tests*.csproj'
        no-build: true
        exclude-filter: '[${{env.productNamespacePrefix}}.*.Tests.*]*'
        include-filter: '[${{env.productNamespacePrefix}}*]*'
        output-format: cobertura
        configuration: ${{ env.configuration }}

    - name: Pack
      run: dotnet pack --configuration=${{ env.configuration }} --verbosity=minimal --no-restore
      working-directory: src

    - name: Upload Code Coverage
      uses: codecov/codecov-action@v5

    - name: Create NuGet Artifacts
      uses: actions/upload-artifact@master
      with:
        name: nuget
        path: '**/*.nupkg'
